form:not(.comment-form):not(.views-exposed-form):not(.comment-comment-forum-form):not(.opigno-pm-thread-form__add) {
  .form-submit {
    @extend .btn;
    @extend .btn-bg;
    @extend .btn-rounded;
  }
}

form:not(.views-exposed-form):not(.group-content-form):not(.tft-add-term-form) {
  .form-item {
    &:not(.js-form-type-select):focus-within {
      ~ .form-submit {
        background-image: url(../images/design/search-navy.svg);
        border-color: $clr-green;
      }
    }
  }
}

.form-search {
  + .form-submit {
    background: $clr-white url(../images/svg/fi-rr-search.svg) center/18px no-repeat;
  }
}

.tft-add-term-form {
  .form-submit,
  #edit-cancel {
    @extend .btn;
    @extend .btn-rounded;
  }
}

.comment-form {
  .form-item {
    &:focus-within {
      ~ .form-actions {
        .form-submit {
          background-image: url(../images/design/send-navy.svg);
          border-color: $clr-green;
        }
      }
    }
  }

  .form-submit {
    background: $clr-gray-light url(../images/design/send-gray.svg) 5px 8px/24px no-repeat;
    border: 1px solid $clr-gray-light-D5;
    border-radius: 50%;
    height: rem(39);
    outline: none;
    text-indent: -9999px;
    width: rem(39);

    &:hover {
      background-image: url(../images/design/send-navy.svg);
      border-color: $clr-desktop-button-color;
    }
  }
}

.comment-item {
  &__form {
    .form-submit {
      background: transparent url(../images/design/send-navy.svg) 5px 8px/24px no-repeat;
      border: 1px solid $clr-desktop-link;
      transition: background-color .3s ease;

      &:hover {
        background-color: $clr-desktop-link;
      }
    }
  }
}

.comment-comment-forum-form {
  .form-submit {
    @extend .btn;
    @extend .btn-rounded;
    background: $clr-white url(../images/design/send-navy.svg) rem(35) center/24px no-repeat;
    border: 2px solid $clr-green;
    border-radius: rem(25);
    padding-left: rem(40);
    text-indent: 0;
  }
}

.views-exposed-form {
  .form-search,
  .form-submit {
    background-color: $clr-gray-light;
    border: 1px solid $clr-gray-light-D5;
    box-shadow: none;
    transform: none;
  }

  .form-submit:not(.opigno-create-shared-post) {
    background: $clr-gray-light url(../images/design/search-gray.svg) center/18px no-repeat;
    border-radius: 50%;
    height: rem(33);
    min-width: rem(33);
    text-indent: -9999px;
    width: rem(33);

    &:hover {
      background-image: url(../images/design/search-navy.svg);
      border-color: $clr-desktop-link;
    }
  }

  .form-actions {
    .form-submit {
      background: $clr-desktop-link;
      box-shadow: none;
      text-indent: 0;
      height: auto;
      width: 100%;

      &:hover {
        background-image: none;
        box-shadow: 0 3px 3px rgba($clr-black, .3);
      }
    }
  }
}

.entity-browser-media-entity-browser-groups-form.entity-browser-form {
  .form-items-group {
    > .form-submit {
      background-image: none !important;
      margin-bottom: 0;
      text-indent: 0;
      width: auto !important;
    }
  }
}

.modal-body {
  .views-exposed-form {
    .form-actions {
      .form-submit {
        background: $clr-white url(../images/design/send-navy.svg) rem(35) center/24px no-repeat;
        border: 2px solid $clr-desktop-link;
        max-width: rem(156);
        padding-left: rem(30);

        &:hover {
          background-color: $clr-desktop-link;
          transform: translateY(-3px);
        }
      }
    }
  }
}

.edit-discussion-modal {
  .form-managed-file {
    .form-submit[id*='remove'] {
      background: none !important;
      border: none !important;
      border-radius: 0 !important;
      font-weight: $font-weight-normal !important;
      min-width: 0 !important;
      padding: 0 !important;
      text-decoration: underline !important;
    }
  }

  .opigno-pm-thread-form__add {
    .form-actions {
      .form-submit {
        background: $clr-gray-light url(../images/design/send-gray.svg) 5px 8px/24px no-repeat;
        border: 1px solid $clr-gray-light-D5;
        border-radius: 50%;
        height: rem(39);
        outline: none;
        min-width: 0;
        text-indent: -9999px;
        width: rem(39);

        &:hover {
          background-image: url(../images/design/send-navy.svg);
          border-color: $clr-desktop-link;
        }
      }
    }
  }
}

.section-admin,
.admin-learning-path {
  #edit-submit-user-admin-people {
    background: $clr-desktop-button-color;
    border: 2px solid $clr-desktop-button-color;
    border-radius: rem(25);
    color: $clr-desktop-button-text-color;
    font-weight: $font-weight-semibold;
    height: auto;
    min-width: rem(117);
    padding: rem(10) rem(15);
    text-indent: 0;
    width: auto;

    &:hover {
      background: $clr-desktop-button-color;
      border-color: $clr-desktop-button-color;
      box-shadow: 0 3px 6px rgba($clr-black, .3);
      text-decoration: none;
      transform: translateY(-3px);
    }
  }

  #edit-unpublish,
  #edit-delete {
    @extend .btn;
    @extend .btn-rounded;
    @extend .btn-border-red;
  }
}

.section-admin,
.login-container,
.opigno-activity-form,
.opigno-module-form {
  .form-managed-file {
    .form-submit {
      background: $clr-white !important;

      &:hover {
        background: $clr-green !important;
      }

      &[id*='remove'] {
        border-color: $clr-red !important;

        &:hover {
          background: $clr-red !important;
          color: $clr-white !important;
        }
      }
    }
  }
}

#private-message-page {
  .private-message-form {
    .form-submit {
      background: $clr-gray-light url(../images/design/send-gray.svg) 5px 8px/24px no-repeat;
      border: 1px solid $clr-gray-light-D5;
      border-radius: 50%;
      height: rem(39);
      min-width: 0;
      outline: none;
      text-indent: -9999px;
      width: rem(39);

      &:hover {
        background-image: url(../images/design/send-navy.svg);
        border-color: $clr-green;
      }
    }
  }
}

#catalog-filter-parent {
  .catalog-filter {
    .form-actions {
      .form-submit {
        background: $clr-desktop-button-color;
        border: 2px solid $clr-desktop-button-color;
        border-radius: rem(25);
        color: $clr-desktop-button-text-color;

        @include media-breakpoint-down(xs) {
          min-width: 45%;
          width: auto;
        }
      }

      .btn-reset-filter {
        background: $clr-white;
        display: block;

        &:hover {
          background: $clr-desktop-button-color;
        }
      }
    }
  }
}

.opigno-tincan-api-settings-form,
.opigno-moxtra-settings-form {
  .form-item {
    &:focus-within {
      ~ .form-submit {
        background-image: none !important;
      }
    }
  }
}
